.App {
  text-align: center;
  height: 920px;
  background-color: aqua;
}

.headerAndFooter{
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: #727272 0px 10px 100px;
  background-color: #fdfdfd;
}

.header {
  border-radius: 0 0 15px 15px;
  height: 100px;
}

.todoFooter{
  border-radius: 15px 15px 0 0;
  height: 50px;
}

.todoListEnv {
  padding: 5vh 20vw;
  height: 679px;
}

.listContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: #727272 0px 0px 15px;
  height: 100%;
  padding: 10px;
}

.todoListHeader{
  height: 10%;
}

.todoList{
  height: 90%;
  width: 100%;
  border: 1px solid black;
}

